body, body>div#wheels-debug-area{
    margin: 0px;
}
div.start-body{
    font-family: arial;
    color: #dddddd;
    text-align: justify;
    background-color: #212121;
    padding-left: 25%;
    padding-right: 25%;
    padding-top: 100px;
    padding-bottom: 100px;
}
h1{
    color: #8BC34A;
}
h2{
    color: #8BC34A;
    padding-top: 30px;
    margin-top: 30px;
    border-top: 1px solid #777777;
}
a{
    color: #8BC34A;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
li{
    margin-bottom: 10px;
}
img.logo{
    position: absolute;
    left: 20px;
    top: 20px;
}
.start-wrapper{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: stretch;
    align-items: center;
}
.tabbed-list{
    float: left;
    width: 200px;
}